{% extends "base.html" %}
{% block content %}

<ul>Hello to Api
    <li>/api/urls GET # get all urls </li>
    <li>/api/url POST # create pico url </li>
    </ul>
    <div class="form-group">
        <form method="POST">
            <input type="text" class="form-control" name="url_original" placeholder="enter url to make shorter">
            <br>

            <a href="{{ new_url.url_shortened }}">{{ new_url.url_shortened }}</a></p>
            <div align="center">
                <button type="submit" class="btn btn-primary">Get Pico URL</button>
            </div>
        </form>
    </div>
{% endblock %}